body {
background-color: rgb(20, 20, 20);
color: white;
font-family: 'Roboto Mono', monospace;
padding-left: 35px;
}

a {
text-decoration: none;
color: yellow;
}


#main ul {
list-style: none; /* Remove default bullets */
}

#mystuff ul li::before {
content: "\203A";
color: rgb(255, 255, 115);
font-weight: bold;
display: inline-block;
width: 1em;
margin-left: -1em;
}



/* Scrollbar */
::-webkit-scrollbar {
width: 15px;
}

::-webkit-scrollbar-track {
background: #333333; 
}

::-webkit-scrollbar-thumb {
background: rgb(50, 132, 255); 
}

::-webkit-scrollbar-thumb:hover {
background: rgb(27, 77, 153); 
}



/* CSS used mainly in the front page */
#mystuff {
display: block;
margin-top: 50px;
}

#main {
margin-top: 65px;
}

.category {
color: rgb(255, 255, 122);
}

#mobileblock {
display: none;
}

.item {
    width: 275px;
    height: 200px;
    object-fit: cover;
    transition: 0.2s ease-in-out;
    border: 2px solid rgb(0, 144, 211);
    float: left;
    margin: 25px;
}

.item:hover {
    transform: scale(1.1);
    border: 2px solid rgb(81, 165, 204);
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.75);
}

#contact {
color: yellow;
display: block; 
margin-top: 100px;
}

#contact a {
margin-left: 10px;
color: rgb(118, 157, 230);
transition: 0.2s ease-in-out;
}

#contact a:hover {
filter: brightness(1.45);
}

.nav {
list-style-type: none;
margin-left: -45px;
overflow: hidden;
background-color: #333;
width: 100%;
position: fixed;
top: -16px;
z-index: 1000000;
}

.nav .left {
float: left;
padding: 14px 16px;
color: rgb(0, 144, 211);
}

.nav .right {
float: right;
padding: 14px 16px;
color: rgb(0, 144, 211);
}

.nav li a {
display: block;
text-align: center;
text-decoration: none;
color: rgb(0, 144, 211);
}

.nav li:hover {
background-color: rgb(65, 65, 65);
}

.type {
font-size: 50px;
color: rgb(106, 170, 255);
}

.type a {
color: rgb(106, 170, 255);
text-decoration: currentColor;
}

.s {
margin: 50px 10px;
}

#contact {
display: none;
clear: both;
}

@media only screen and (max-width: 1000px) {
    #navco {
        display: none;
    }

    #contact {
        display: block;
    }
}

#detachedpages {
    display: none;
    clear: both;
}

@media only screen and (max-width: 600px) {
    #navop {
        display: none;
    }

    #detachedpages {
        display: block;
    }
}

#mobile {
    display: none;
}

@media only screen and (max-width: 400px) {
    #desktop {
        display: none;
    }

    #mobile {
        display: block;
    }
}