body {
background-color: rgb(20, 20, 20);
color: white;
font-family: 'Roboto Mono', monospace;
}

a {
text-decoration: none;
color: yellow;
}

/* Scrollbar */
::-webkit-scrollbar {
width: 15px;
}

::-webkit-scrollbar-track {
background: #353535; 
}

::-webkit-scrollbar-thumb {
background: rgb(50, 132, 255); 
}

::-webkit-scrollbar-thumb:hover {
background: rgb(27, 77, 153); 
}



/* CSS used mainly in the front page */
#mystuff {
    display: none;
    margin-top: 50px;
}

#aboutme {
    display: block;
}

#main {
text-align: center;
border: 2px solid rgb(50, 132, 255);
border-radius: 10px;
width: 80%;
margin: 65px auto;
padding: 30px 30px;
}

#control {
    color: rgb(145, 189, 255);
}

#control button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: rgb(89, 156, 255);
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    transition: 0.2s ease-in-out;
}

#control button:hover {
    color: rgb(170, 204, 255);
}

.category {
color: rgb(255, 255, 122);
}

#mobileblock {
display: none;
}

.item {
    width: 275px;
    height: 200px;
    object-fit: cover;
    transition: 0.2s ease-in-out;
    border: 2px solid rgb(0, 144, 211);
    margin: 0px 25px 70px 25px;
    display: inline-block;
}

.item:hover {
    transform: scale(1.1);
    border: 2px solid rgb(81, 165, 204);
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.75);
}

#contact {
color: yellow;
display: block; 
}

.nav {
    list-style-type: none;
    margin-left: -45px;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
    top: -16px;
    z-index: 1000000;
}

.icon {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    display: inline-block;
    margin: 5px;
    transition: 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
}

.nav .left {
float: left;
padding: 14px 16px;
color: rgb(0, 144, 211);
}

.nav .right {
float: right;
padding: 14px 16px;
color: rgb(0, 144, 211);
}

.nav li a {
display: block;
text-align: center;
text-decoration: none;
color: rgb(0, 144, 211);
}

.nav li:hover {
background-color: rgb(65, 65, 65);
}

.type {
font-size: 50px;
color: rgb(106, 170, 255);

}

.s {
    margin: 70px 10px;
}

#contact {
display: block;

}

#detachedpages {
    display: none;
    margin: 50px 0px;
}

@media only screen and (max-width: 600px) {
    #navop {
        display: none;
    }

    #detachedpages {
        display: block;
    }
}

#mobile {
    display: none;
}

@media only screen and (max-width: 460px) {
    #desktop {
        display: none;
    }

    #mobile {
        display: block;
    }
}

@media only screen and (max-width: 350px) {
    #deco1 {
        display: none;
    }
    
    #main {
        width: 70%;
    }
}