:root {
    --primary: #1e88e5;
}

a {
    text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #22323d; 
}

::-webkit-scrollbar-thumb {
    background: #1e88e5; 
}

::-webkit-scrollbar-thumb:hover {
    background: #1b7cd1; 
}