/*
COLORS:
#d4d8ff | blue - white
#e3e6ff | blue - white (brighter)
#7d89ff | light blue
#a8b0ff | light blue (brighter)
*/

* {
    cursor: default;
}

a {
    transition: 0.25s ease-in-out;

    text-decoration: none;
    color: #7d89ff;
}

a:hover {
    color: #a8b0ff;
}

button {
    transition: 0.3s ease-in-out;

    background-color: #7d89ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;

    box-shadow: 0px 0px 10px 5px rgb(145, 145, 145);
}

button:hover {
    background-color: #a8b0ff;
}

body {
    background-color: #d4d8ff;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #d4d8ff; 
}

::-webkit-scrollbar-thumb {
    background: #7d89ff;
}

::-webkit-scrollbar-thumb:hover {
    background: #8d98ff; 
}